.parallax {
  // On utilise min-height pour que le composant s'adapte au contenu si besoin
  min-height: 150px; 
  width: 100%;

  // L'effet magique
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.parallax::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.content {
  position: relative; // Pour que le z-index fonctionne
  color: white;
  text-align: center;
  z-index: 2;
}