
.carteArticle {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  cursor: pointer;
}

.containerImgArticle {
  width: 100%;
  height: 140px;
  overflow: hidden;
    border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
}

.imgArticle {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.containerCarte {
  display: flex;
}